---
---

@import "{{ site.theme }}";

h2 {
    margin-top: 1.5em;
}

div.nav {
    color: #888;
}

footer, section, header, div.wrapper {
    width: auto;
    float: none;
    position: static;
}

table {
    border: 1px solid #f8f8f8;
}

td {
    empty-cells: hide;
    padding: 2px;
}

tr.txpdo > td, tr.rxpdo > td {
    padding: 2px;
};

tr.pdosection {
    height: 60px;
    vertical-align: bottom;
}
 
tr.pdosection > td {
    font-weight: bold;
    margin-top: 10px;
}

tr.pdosection > td > pre {
    background-color: #eee;
}

table, pre {
    margin: 2px;
}

div.foo {
    background: #f8f8f8;
}

td.first {
    font-weight: bold;
    font-size: larger;
}

dl, p {
    margin-left: 2em;
}
