---
---

@import "{{ site.theme }}";
td {
    empty-cells: hide;
}

tr.txpdo > td, tr.rxpdo > td {
    padding: 2px;
};
 
tr.pdosection > td {
    font-weight: bold;
}

table, pre {
    margin: 2px;
}

div.foo {
    background: #f8f8f8;
}
