---
---

@import "{{ site.theme }}";

table {
    border: 1px solid #f8f8f8;
}

td {
    empty-cells: hide;
    padding: 2px;
}

tr.txpdo > td, tr.rxpdo > td {
    padding: 2px;
};
 
tr.pdosection > td {
    font-weight: bold;
    margin-top: 10px;
}

table, pre {
    margin: 2px;
}

div.foo {
    background: #f8f8f8;
}

td.first {
    font-weight: bold;
    font-size: larger;
}
